@import "variables";

/* ------------ product ------------ */
.product__wrap {
  margin: 0 -15px 30px;
}
.product__column {
  padding: 0 15px;
}
.product__column .product__title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  line-height: 1.3;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
.product__section {
  padding: 15px 0;
  border-bottom: 1px solid var(--border-color);
  font-size: 13px;
}
.product__section:last-child {
  border-bottom: none;
}
.product__section > *:last-child {
  margin-bottom: 0;
}
.product__section:nth-of-type(1) {
  padding-top: 0;
}
.product__section h6,
.product__section h5,
.product__section h4,
.product__section h3,
.product__section h2,
.product__section h1,
.product__section-title {
  font-size: 17px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
}
.product__section h6 {
  font-size: 13px;
}
.product__section h5 {
  font-size: 14px;
}
.product__section h4 {
  font-size: 15px;
}
.product__section h3 {
  font-size: 16px;
}
.product__section h2 {
  font-size: 17px;
}
.product__section h1 {
  font-size: 18px;
}
.product__section strong,
.product__section b {
  color: var(--font-color-1);
}
.product__section li {
  display: block;
  position: relative;
  line-height: 1.3;
  margin: 0 0 10px;
  padding-left: 13px;
}
.product__section li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  color: inherit;
  background: currentColor;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.product__section li:last-child {
  margin-bottom: 0;
}
.product__price {
  margin-bottom: 15px;
  color: #B12704;
  font-size: 24px;
}
.product__price-sign {
  font-size: 75%;
}
.product__list {
  margin-bottom: 15px;
}
.product__list-item {
  position: relative;
  color: var(--font-color-3);
  font-size: 13px;
  line-height: 1.45;
  padding-left: 10px;
}
.product__list-item:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--font-color-3);
}
.product__empty-info {
  padding: 30px 0;
}
.product a {
  color: var(--brand-color-1);
  border-bottom: 1px solid currentColor;
  word-break: break-word;
  transition: border-bottom 0.3s ease;
}
/* ------------ /product ------------ */

/* ------------ product-swiper ------------ */
.product-swiper__preview {
  display: none;
  padding: 30px 15px 0 0;
  width: 55px;
}
.product-swiper__preview-item {
  display: inline-block;
  margin-bottom: 0;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 0 2px 0 transparent;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.product-swiper__preview-item.active {
  border-color: var(--brand-color-1);
  box-shadow: 0 0 9px 0 var(--brand-color-1);
}
.product-swiper__preview-item img,
.product-swiper__preview-pic {
  display: block;
  width: 38px;
  height: 50px;
  object-fit: contain;
  object-position: center;
}
.product-swiper__preview-item p {
  margin-bottom: 0 !important;
}
.product-swiper__slide {
  position: relative;
  height: 250px;
}
.product-swiper__slide p {
  margin-bottom: 0 !important;
}
.product-swiper__slide img,
.product-swiper__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.product-swiper .swiper {
  padding-bottom: 20px;
}
.product-swiper .swiper-pagination {
  bottom: 0;
}
.product-swiper .swiper-pagination-bullet {
  opacity: 1;
  background: transparent;
  border: 1px solid var(--font-color-3);
}
.product-swiper .swiper-pagination-bullet-active {
  background: var(--font-color-3);
}
/* ------------ /product-swiper ------------ */

/* ------------ parameters-list ------------ */
.parameters-list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.parameters-list__item:last-child {
  margin-bottom: 0;
}
.parameters-list__title {
  position: relative;
  align-self: flex-start;
  width: 50%;
}
.parameters-list__title:before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  border-bottom: 1px dotted var(--border-color);
}
.parameters-list__title span {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  background: #fff;
}
.parameters-list__value {
  width: 50%;
  padding-left: 15px;
  font-weight: 700;
}
/* ------------ /parameters-list ------------ */

@media screen and (min-width: $tablet) {

  /* ------------ product ------------ */
  .product__wrap {
    display: flex;
    align-items: flex-start;
  }
  .product__column_slider {
    width: 380px;
    position: sticky;
    top: 20px;
  }
  .product__column_txt {
    width: calc(100% - 380px);
  }
  /* ------------ /product ------------ */

  /* ------------ product-swiper ------------ */
  .product-swiper {
    display: flex;
    align-items: flex-start;
  }
  .product-swiper__preview {
    display: block;
  }
  .product-swiper__slide {
    height: 300px;
  }
  .product-swiper .swiper {
    width: calc(100% - 55px);
    padding-bottom: 0;
  }
  .product-swiper .swiper-pagination {
    display: none;
  }
  /* ------------ /product-swiper ------------ */

  /* ------------ parameters-list ------------ */
  .parameters-list__title:before {
    display: block;
  }
  /* ------------ /parameters-list ------------ */

}

@media screen and (min-width: $desktop) {

  /* ------------ product ------------ */
  .product p {
    margin-bottom: 15px;
  }
  .product__column_slider {
    width: 500px;
  }
  .product__column_txt {
    width: calc(100% - 500px);
  }
  .product__column .product__title {
    font-size: 30px;
  }
  .product__section-title {
    font-size: 20px;
  }
  .product__section {
    font-size: 16px;
  }
  .product__section h6 {
    font-size: 16px;
  }
  .product__section h5 {
    font-size: 17px;
  }
  .product__section h4 {
    font-size: 18px;
  }
  .product__section h3 {
    font-size: 19px;
  }
  .product__section h2 {
    font-size: 20px;
  }
  .product__section h1 {
    font-size: 22px;
  }
  .product__section li:before {
    top: 8px;
    width: 5px;
    height: 5px;
  }
  .product__price {
    font-size: 36px;
  }
  .product__list-item {
    font-size: 16px;
  }
  .product a:hover {
    border-bottom: 1px solid transparent;
  }
  /* ------------ /product ------------ */

  /* ------------ product-swiper ------------ */
  .product-swiper__slide {
    height: 400px;
  }
  /* ------------ /product-swiper ------------ */

}
