@import "variables";

.footer-menu {
  font-size: 13px;
}
.footer-menu__item {
  display: block;
  margin-bottom: 15px;
}
.footer-menu__link {
  color: var(--font-color-1);
}

@media screen and (min-width: $tablet) {

  .footer-menu {
    display: flex;
    align-items: center;
  }
  .footer-menu__item {
    display: inline-block;
    vertical-align: top;
    margin: 4px 5px;
  }

}

@media screen and (min-width: $desktop) {

  .footer-menu {
    font-size: 14px;
  }
  .footer-menu__item {
    margin: 8px 15px;
    font-size: 16px;
  }
  .footer-menu__link {
    transition: color 0.3s ease;
  }
  .footer-menu__link:hover {
    color: var(--brand-color-1);
  }

}
