<section class="about-us">
  <div class="site__centered">
    <div class="about-us__wrap">
      <h2 class="site__title">Ми будуємо майбутнє</h2>
      <p>Компания ООО “Билд Маркет ЮА” была основана в 2016 году. Основной сферой деятельности компании является продажа оригинального цемента компании ЧАО “ХайдельбергЦемент Украина”.</p>
      <p>Опираясь на запросы наших постоянных клиентов мы расширяем свой товарный ассортимент. У нас можно приобрести высококачественный бетон от ООО “ХайдельбергБетон Украина”, гипсокрартон, сухие смеси производства Siniat, плиты OSB производства Европы и Украины.</p>
      <a [routerLink]="['/catalog']" class="btn">Перейти до каталогу</a>
    </div>
  </div>
</section>
